* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 95, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
}

nav button{
    border: none;
    background: blue;
    color: white;
    font-size: 100%;
    padding: 10px;
    border-radius: 20px;
}

.nav-toggle {
    display: none;
}

@media (max-width: 700px) {
    .nav-toggle {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav button {
        display: none;
    }

    ul.open {
        display: flex;
    }
}